{% set blocks = flex_blocks %}

{% for block in blocks %}

{% set anchor = block.title|sanitize %}
{% set subanchor = block.sub_title|sanitize %}
{% set blockanchor = block.block_title|sanitize %}



<section id="{% if block.title or block.sub_title %}{% if anchor %}{{ anchor }}{% else %}{{ subanchor }}{% endif %}{% elseif block.block_title %}{{ blockanchor }}{% endif %}{% if block.block_gallery and block.title is empty and block.block_title is empty  %}image-gallery-{{ loop.index }}{% endif %}" class="flex-blocks relative" scrollname="{% if block.title %}{{ block.title }}{% elseif block.block_title and block.is_title == "true" %}{{ block.block_title }}{% elseif block.sub_title and block.is_title == "true" %}{{ block.sub_title }}{% endif %}{% if block.block_gallery and block.title is empty and block.block_title is empty  %}Image Gallery{% endif %}">

  <div class="{% if loop.first and block.show_featured != 'true' %}{% else %}pt-24{% endif %}">

    {% set key = loop.index %}

    {% if 'block_cta' == block.acf_fc_layout %}

      {% if block.cta %}

      <div class="container">

        {% include 'blocks/cta.twig' %}

      </div>

      {% endif %}

    {% elseif 'block_wysiwyg' == block.acf_fc_layout %}

      {% include 'blocks/wysiwyg.twig' %}

    {% elseif 'block_image_gallery' == block.acf_fc_layout %}

      {% include 'blocks/gallery.twig' %}

    {% elseif 'block_featured_blog' == block.acf_fc_layout %}

      <div class="container">

        {% include 'blocks/blog.twig' %}

      </div>

    {% elseif 'block_featured_events' == block.acf_fc_layout %}

      <div class="container">

        {% include 'blocks/events.twig' %}

      </div>

    {% elseif 'block_accordion' == block.acf_fc_layout %}

      <div class="container narrow">

        {% include 'blocks/accordion.twig' %}

      </div>


    {% elseif 'block_quote' == block.acf_fc_layout %}

      {% if block.quote_type %}

      <div class="container narrow">

        {% include 'blocks/quote.twig' %}

      </div>

      {% endif %}


    {% elseif 'block_video' == block.acf_fc_layout %}

      <div class="container narrow">

        {% include 'blocks/video.twig' %}

      </div>

    {% endif %}

  </div>

</section>

{% endfor %}

