<div id="gallery" class="mt-2 mt-lg-4 mb-3 mb-lg-4">

  {% if block.is_title == "true" %}
  <div class="container narrow text-center">
    {% include 'partial/block-title.twig' %}
    {% include 'partial/block-intro.twig' %}
  </div>
  {% endif %}


    {% if block.gallery_type == "normal" or block.gallery_type == "carousel" and not block.full_width_carousel == "true" %}

      <div class="container">

    {% endif %}

    {% if block.gallery_type == "carousel" or block.gallery_type == "image-caption" %}

    <div id="carousel-gallery-{{key}}" class="relative {% if  block.full_width_carousel == "true" %}mx-20{% endif %}">

      <carousel :responsive="{0:{items:1,nav:false,autoplay:false,margin:20,stagePadding:0},768:{items:3,nav:false,margin:20,dots:true}}" :autoWidth="false" :nav="true" :center="false" :loop="false" :autoHeight="false" :autoplay="false">

    {% endif %}


    {% set count = 0 %}
    {% for nc in block.block_gallery %}
      {% set count = count + 1 %}
    {% endfor %}

    {% if count > 3 %}
      <template slot="next"><span class="owl-next chevron-right"></span></template>
    {% endif %}

    {% for item in block.block_gallery %}


      <figure class="wp-caption w-100">
        <a href="{{ Image(item).src }}" class="z-0">
          <img class="image w-100 {% if block.gallery_type == "full-width" %} full-width-img {% endif %}{% if item.caption %}mb-0{% else %}mb-3{% endif %} lazyload" src="{{ Image(item).src|resize(1200) }}" alt="{{ item.alt }}"/>
        </a>
        {% if item.caption %}
          <p class="serif text-xs text-gray-600">{{ item.caption }}</p>
        {% endif %}
      </figure>


    {% endfor %}


    {% if count > 3 %}
      <template slot="prev"><span class="owl-prev chevron-left"></span></template>
    {% endif %}

    {% if block.gallery_type == "carousel" %}

      </carousel>

    </div>

    {% endif %}

    {% if block.gallery_type == "normal" or block.gallery_type == "carousel" and not block.full_width_carousel == "true"%}

      </div>

    {% endif %}

</div><!-- #gallery -->
