<div id="hero" class="relative">


  <section class="hero mb-5 {% if postheroheight == "full-height" or postheroheight == "" %}is-fullheight{% elseif postheroheight == "half-height" %}is-small{% endif %}">

    {#<your-component></your-component>#}

    {% if postherotype != "background-video" %}

      {% if post.thumbnail.src or postherobackground.url or notfoundbackgroundimage %}
      {% if postheroheight != "half-height" %}
      <div id="parallax">
        <parallax :speed-factor="0.15" breakpoint="(min-width: 680px)">
      {% endif %}
        {% if fn('is_404') %}
          <img src="{{ notfoundbackgroundimage.url }}" alt="" srcset="{{ notfoundbackgroundimage.srcset }}" sizes="{{ notfoundbackgroundimage.img_sizes }}" class="object-cover lazyload hero-background-img"/>
        {% elseif post.thumbnail.src %}
          <img src="{{ post.thumbnail.src }}" alt="" srcset="{{ post.thumbnail.srcset }}" sizes="{{ post.thumbnail.img_sizes }}" class="object-cover lazyload hero-background-img"/>
        {% else %}
          <img src="{{ TimberImage(postherobackground).src }}" alt="" srcset="{{ TimberImage(postherobackground).srcset }}" sizes="{{ TimberImage(postherobackground).img_sizes }}" class="h-100 w-100 absolute object-cover lazyload hero-background-img"/>
        {% endif %}
      {% if postheroheight != "half-height" %}
        </parallax>
      </div><!-- /#parallax -->
      {% endif %}

      {% endif %}

    {% else %}

      <div class="embed-responsive embed-responsive-16by9 posthero-video {% if not postheroheight == "full-height" or postheroheight == "half-height" %}fh-video{% endif %}"><iframe class="embed-responsive-item" src='https://player.vimeo.com/video/{{ postherovideodesktop }}?api=1&background=1&mute=1&autoplay=1' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>

    {% endif %}

    {% if postheroheight != "half-height" %}

    <div class="hero-overlay" style="background-color:{% if postherooverlaycolor %}{{ postherooverlaycolor }}{% else %}#000{% endif %};opacity:{% if postherooverlayopacity is empty %}0.5;{% else %}0.{{ postherooverlayopacity }};{% endif %};position: absolute;top: 0;right: 0;bottom: 0;left: 0;"></div>

    {% endif %}

    {% if postheroheight == "full-height" or not postheroheight == "half-height" %}



      <div class="hero-body w-100" data-scroll>
        <div class="container text-centered">

          {% if fn('is_404') %}

            {{ notfoundmessage }}

          {% else %}

            <h1 class="text-white">
              {% if postherotitle %}{{ postherotitle }}{% else %}{{ post.title }}{% endif %}
            </h1>

            {% if postherosubtitle %}
            <div class="h3 text-white">
              {{ postherosubtitle }}
            </div>
            {% endif %}

            {% if post.excerpt %}
            <div class="h3 serif text-white">
              {{ post.excerpt }}
            </div>
            {% endif %}

            {% if herocta.url %}
              <div class="carousel-cta my-5">
                <a href="{{ herocta.url }}" class="hero-cta-button button is-rounded">{{ herocta.title }} <span class="cta-arrow-right"></span></a>
              </div>
            {% endif %}

          {% endif %}

        </div>

      </div>

    {% endif %}

  </section>

</div><!-- #hero -->

{% if postheroheight == "half-height" %}

  <section class="container main-wrapper">

    <div class="row">

      <div class="col">
        {% if postherotitle %}
        <div class="h2 sans-medium">
          {{ postherotitle }}
        </div>
        {% else %}
        <div class="h2 sans-medium">
          {% if TimberPost(post.title) %}
            {{ TimberPost(post.title) }}
          {% else %}
            {% if post.title %}
              {{ post.title }}
            {% else %}
              {{ title }}
            {% endif %}
          {% endif %}
        </div>
        {% endif %}

        {% if postherosubtitle %}
        <div class="h4 is-size-4 sans-medium">
          {{ postherosubtitle }}
        </div>
        {% endif %}
      </div><!-- /.col -->

    </div><!-- /.row -->

  </section><!-- /.main-wrapper -->

{% endif %}
