{% if posts.pagination.pages %}
<div class="py-5">

  <nav class="pagination is-centered" role="navigation" aria-label="pagination">

    {# PREVIOUS BUTTON #}
    {% if posts.pagination.prev %}
      <a href="{{ posts.pagination.prev.link }}"
         class="mr-auto pagination-previous prev {{ posts.pagination.prev.link|length ? '' : 'invisible' }}">&laquo;</a>
    {% else %}
      <button class="pagination-previous prev" disabled>&laquo;</button>
    {% endif %}


    {# PAGINATION LIST #}
    <ul class="pagination-list">
      {% for page in posts.pagination.pages %}
        {% if page.link %}
        {% if loop.index < 5 %}

          <li>
            <a href="{{ page.link }}" class="{{ page.class }} pagination-link"
               aria-label="Goto page {{ page.title }}">{{ page.title }}</a>
          </li>
          {% endif %}

        {% else %}
          {% if page.class == 'dots' %}
            <li><span class="pagination-ellipsis">&hellip;</span></li>
          {% else %}
            <span class="pagination-link is-current {{ page.class }}">{{ page.title }}</span>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>

    {# NEXT BUTTON #}
    {% if posts.pagination.next %}
      <a href="{{ posts.pagination.next.link }}"
         class="ml-auto pagination-next next {{ posts.pagination.next.link|length ? '' : 'invisible' }}">&raquo;</a>
    {% else %}
      <button class="pagination-next next" disabled>&raquo;</button>
    {% endif %}

  </nav>

</div>
{% endif %}