{% if relatedpages %}
<section class="container is-widescreen" data-scroll>
  <div class="column">
    <div class="h3 sans-medium">{% if post.related_content_title %}{{ post.related_content_title }}{% else %}More Like This:{% endif %}</div>
    <hr class="my-3 my-lg-4 d-none d-lg-block">
  </div><!-- /.column -->

  <div class="d-none d-lg-block">

    <div class="columns m-0">
      {% for relitem in TimberPost(relatedpages) %}
        <div class="column">

          <a href="{{ relitem.link }}">
            {% if relitem.thumbnail.src %}
              <img src="{{ Image(relitem.thumbnail.src)|resize(690, 860) }}" class="lazyload w-100 d-block" alt="{% if Image(relitem.thumbnail).alt %}{{ Image(relitem.thumbnail).alt }}{% else %}Image for: {{ relitem.post_title }}{% endif %}" />
            {% else %}
              <img src="{{ Image(relitem.post_hero_background)|resize(690, 860) }}" class="lazyload w-100 d-block" alt="{% if Image(relitem.post_hero_background).alt %}{{ Image(relitem.post_hero_background).alt }}{% else %}Image for: {{ relitem.post_title }}{% endif %}" />
            {% endif %}
          </a>

          <a href="{{ relitem.link }}" class="d-block has-text-black sans-medium is-size-4 py-4">
            {{ relitem.post_title }}
          </a>

          <a href="{{ relitem.link }}" class="button is-rounded primary-button letter-spacing align-self-start mt-auto mb-5">Read More</a>

        </div>
      {% endfor %}
    </div>

  </div>

  <div class="d-block d-lg-none">

    <div id="carousel-gallery-8"  class="d-block d-lg-flex flex-wrap">

      <carousel :responsive="{0:{items:1,autoplay:false,stagePadding:45,margin:15,center:false},768:{items:2,margin:20,stagePadding:40}}" :nav="false" :loop="true" :autoHeight="true" :autoplay="false">

      {% for relitem in TimberPost(relatedpages) %}
        <div class="d-flex flex-column h-100">

          <a href="{{ relitem.link }}">
            {% if relitem.thumbnail.src %}
              <img src="{{ Image(relitem.thumbnail.src)|resize(690, 860) }}" class="lazyload w-100 d-block" alt="{% if Image(relitem.thumbnail).alt %}{{ Image(relitem.thumbnail).alt }}{% else %}Image for: {{ relitem.post_title }}{% endif %}" />
            {% else %}
              <img src="{{ Image(relitem.post_hero_background)|resize(690, 860) }}" class="lazyload w-100 d-block" alt="{% if Image(relitem.post_hero_background).alt %}{{ Image(relitem.post_hero_background).alt }}{% else %}Image for: {{ relitem.post_title }}{% endif %}" />
            {% endif %}
          </a>

          <a href="{{ relitem.link }}" class="d-block has-text-black sans-medium is-size-4 py-4">
            {{ relitem.post_title }}
          </a>

          <a href="{{ relitem.link }}" class="button is-rounded primary-button letter-spacing align-self-start mt-auto mx-auto mb-2">Read More</a>

        </div>
      {% endfor %}

      </carousel>

    </div>

  </div>

</section>

{% endif %}