<div class="d-flex h-100 flex-column">

  <a href="{{ post.link }}" alt="{{ post.title }}">
    <img src="{{ post.thumbnail.src|resize(500, 500, center) }}" class="lazyload w-100 d-block" alt="{{ post.thumbnail.alt }}" />
  </a>

  <div class="pt-4 d-flex h-100 flex-column">

    <div class="d-flex">
    {% for term in post.terms('category') %}
    {% if loop.index <= 1 %}
      <a href="/category/{{term.slug}}" class="letter-spacing uppercase text-xs text-black">{{term}}</a>
    {% endif %}
    {% endfor %}
    </div>

    <a href="{{ post.link }}" class="serif-italic text-2xl leading-snug my-2">
      {{ post.title }}
    </a>

    {% if function('get_the_excerpt') %}
      <p class="serif is-size-6 has-text-black">{{ function('get_the_excerpt') }}</p>
    {% else %}
      <p class="serif is-size-6 has-text-black">{{ post.content|striptags|truncate(16) }}</p>
    {% endif %}

    <a href="{{ post.link }}" class="button is-rounded primary-button primary-button uppercase sans letter-spacing align-self-start mt-4 mb-5">Read More</a>

  </div>

</div>

