<div class="bg-white p-4">

  <a href="{{ post.link }}" alt="{{ post.title }}">
    {% if post.thumbnail.aspect < 1 %}
      {# handle vertical image #}
      <img src="{{ post.thumbnail.src }}" class="lazyload w-100 d-block" alt="{{ post.thumbnail.alt }}" />
    {% else %}
      <img src="{{ post.thumbnail.src }}" class="lazyload w-100 d-block" alt="{{ post.thumbnail.alt }}" />
    {% endif %}
  </a>

  <div class="flex-column d-flex pt-4">

    <div class="has-text-white has-color-primary sans-medium is-size-6 pb-2">{{ post.date }}</div>

    <a href="{{ post.link }}" alt="{{ post.title }}" class="d-block has-text-white has-text-black sans-medium is-size-4 py-4">
      {{ post.title }}
    </a>

    <p class="serif is-size-6 has-text-white has-text-black">{{ post.content|striptags|truncate(16) }}</p>

    <div class="d-flex">
    {% for term in post.terms('category') %}
      <a href="/category/{{term|sanitize}}" class="button black-fill-button letter-spacing align-self-start mr-2 mb-5">{{term}}</a>
    {% endfor %}
    </div>

    <a href="{{ post.link }}" class="button is-rounded white-button primary-button letter-spacing align-self-start mt-auto">Read More</a>

  </div>

</div>

